.dashboard-container {
    width: calc(100% - 40px);
    /* box-shadow: 0 0 10px rgba(25, 3, 107, 0.1);
    background: repeating-linear-gradient(to bottom, rgba(15, 1, 75, 0.03) 0, rgba(24, 13, 63, 0.5) 1px, transparent 1px, transparent 2px); Adjust the transparency and spacing as needed */
}
.dashboard-container .header{
    display: flex;
    height: 165px;
    justify-content: space-between; 
    align-items: top;     
}

.dashboard-container h3 {
    text-align: left;
    font-size: 18px;
}

.expandable-content {
    display: none; /* Initially hide the expandable content */
}
.expandable-content.show {
    display: table-row; /* Display the expandable content as table row */
}

.tabs .status-data-tabs ul li{
    display: flex;
    align-items: center;
    background-color: none;
    color:#ffffff !important;
    padding: 5px 10px;
}
.status-data-tabs ul li i{
    margin-right: 10px;
}
.status-data-tabs > ul > li.selected{
  background:rgba(255, 255, 255, 0.13);
}